{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blog</title>
    <!-- Macondo font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body class="macondo-regular">
   <header>
        <h1>
            <a href="{% url 'publications-list' %}">Django Blog</a>
        </h1>
        <div>
            <a href="{% url 'publication-create' %}">Nueva Publicacion</a>
        </div>
   </header>
    {% if user.is_authenticated %}
        <p>Hola {{ user.username }}!</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <p>Hola! No estás logueado. Inicia sesión a continuación</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
   <div>
        {% block content %}
        {% endblock content %}
   </div> 
</body>
</html>